GOOGLE_API_KEY="YOUR_GOOGLE_API_KEY"
# Your Splunk AO API key
SPLUNK_AO_API_KEY="YOUR_SPLUNK_AO_API_KEY"

# Your Splunk AO project name
SPLUNK_AO_PROJECT="google-adk"

# The name of the Log stream you want to use for logging
SPLUNK_AO_AGENT_STREAM="google-adk-log-stream"

# Provide texhe console url below if you are using a
# custom deployment, and not using the free tier, or app.galileo.ai.
# This will look something like “console.galileo.yourcompany.com”.
# SPLUNK_AO_CONSOLE_URL="your-splunk-ao-console-url"