# OpenAI environment variables
OPENAI_API_KEY=

# Splunk AO environment variables
# SPLUNK_AO_API_ENDPOINT=    # Optional, only set this if you are using a custom Splunk AO deployment
SPLUNK_AO_API_KEY=
SPLUNK_AO_PROJECT=
SPLUNK_AO_AGENT_STREAM=
