# Splunk AO Configuration
SPLUNK_AO_API_KEY=your-splunk-ao-api-key
SPLUNK_AO_PROJECT_NAME=elevenlabs-voice-poc
SPLUNK_AO_AGENT_STREAM=voice-chatbot

# Provide the console url below if you are using a custom deployment, and not using app.galileo.ai
# SPLUNK_AO_CONSOLE_URL=your-splunk-ao-console-url   # Optional if you are using a hosted version of Splunk AO