SPLUNK_AO_API_KEY="your-splunk-ao-api-key"
SPLUNK_AO_PROJECT="your-splunk-ao-project"
SPLUNK_AO_LOGSTREAM="splunk-ao-logger-example"

# Provide the console url below if you are not using app.galileo.ai
# SPLUNK_AO_CONSOLE_URL="your-splunk-ao-console-url"
