SPLUNK_AO_API_KEY="your-splunk-ao-api-key"
OPENAI_API_KEY="your-openai-api-key"
SPLUNK_AO_PROJECT="your-splunk-ao-project"
SPLUNK_AO_AGENT_STREAM="distributed-tracing-example"

# Provide the console url below if you are not using app.galileo.ai
# SPLUNK_AO_CONSOLE_URL="your-splunk-ao-console-url"
